:local(.container){
  text-align:center;
  margin: 4em 0 0 0;
}

:local(.terminal){
  background-color:blue;
  height:0px;
  transform:translate(0px,250px);
  transition: height ease-in-out 0.5s, translate ease-in-out 0.5s;
  text-align: left;
  &.run{
    height:500px;
    transform:translate(0,0px);

  }
  a{
    color:white;
    &:hover{
      color:white;
      text-decoration: none;
      border-bottom: 1px solid;
    }
    margin-bottom: 0.5em;
  }
}
:local(.button){
  cursor: pointer;
  background-color: black;
  border: 2px solid white;
  text-align: center;
  padding: 10px;
  position: relative;
  display: inline-block;
  &.hide{
    display: none;
  }
}