@import 'colors';
@import 'fonts';
@import 'variables';
*{
  box-sizing:border-box;
}

html{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background-color:black;
  color:white;
  font-family: 'Share Tech Mono';
  font-size: 16px;
  margin-top: 4em;
}

h1{
  font-size: 4em;
}

h2{
  font-size: 3em;
}

.center{
  text-align: center;
}

.right{
  text-align: right;
}


@media #{$phone-portrait, $phone-landscape, $tiny}{
  body{
    font-size: 14px;
  }
  h1{
    font-size: 3.5em;
  }
}

@media #{$pad-portrait, $pad-landscape}{
  body{
    font-size: 15px;
  }
}



